{% assign url_parts = page.url | split: '/' %}
{% assign url_last = url_parts | last  %}

<header class="site-header">
  <a href="#menu" class="show-menu"><span class="text">Open the menu</span></a>
  <a class="site-title" href="{{ site.baseurl }}/">{{ site.short_title }}</a>
</header>

<nav id="menu" class="site-menu">
  <ul>
    <li>
      <a href="{{ site.baseurl }}/">Home</a>
    </li>

    <li>
      <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/backend">Backend Handbook</a>
      <ul>
        <li {% if url_last == 'backend' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/backend/">Introducción</a>
        </li>
        <li {% if url_last == 'roles' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/backend/roles">Roles</a>
        </li>
      </ul>
    </li>

</nav>
