{% assign url_parts = page.url | split: '/' %}
{% assign url_last = url_parts | last  %}
{% assign url_area = url_parts[-2] %}

<header class="site-header">
  <a href="#menu" class="show-menu"><span class="text">Open the menu</span></a>
  <a class="site-title" href="{{ site.baseurl }}/">{{ site.short_title }}</a>
</header>

<nav id="menu" class="site-menu">
  <ul>
    <li>
      <a href="{{ site.baseurl }}/">Home</a>
    </li>

    <li>
      <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/paulonia">Paulonia</a>
      <ul>
        <li {% if url_last == 'paulonia' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/paulonia/">Introducción</a>
        </li>
      </ul>
    </li>

    <li>
      <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/studios">Paulonia Studios</a>
      <ul>
        <li {% if url_last == 'studios' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/studios/">Manual Studio</a>
        </li>
        <li {% if url_last == 'organizacion' and url_area == 'studios' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/studios/organizacion">Organización</a>
        </li>
        <li {% if url_last == 'roles' and url_area == 'studios' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/studios/roles">Roles</a>
        </li>
        <li {% if url_last == 'entrenamiento' and url_area == 'studios' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/studios/entrenamiento">Entrenamiento</a>
        </li>
        <li {% if url_last == 'procesos' and url_area == 'studios' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/studios/procesos">Procesos</a>
        </li>
      </ul>
    </li>

    <li>
      <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/development">Paulonia Development</a>
      <ul>
        <li {% if url_last == 'development' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/development/">Introducción</a>
        </li>
      </ul>
    </li>

    <li>
      <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/backend">Paulonia Cloud</a>
      <ul>
        <li {% if url_last == 'backend' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/backend/">Introducción</a>
        </li>
        <li {% if url_last == 'roles' and url_area == 'backend' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/backend/roles">Roles</a>
        </li>
        <li {% if url_last == 'procesos' and url_area == 'backend' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/backend/procesos">Procesos</a>
          <ul>
            <li {% if url_last == 'planificacion' %}class="Selected"{% endif %}>
              <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/backend/procesos/planificacion">Planificación</a>
            </li>
            <li {% if url_last == 'estructuracion' %}class="Selected"{% endif %}>
              <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/backend/procesos/estructuracion">Estructuración</a>
            </li>
            <li {% if url_last == 'desarrollo' %}class="Selected"{% endif %}>
              <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/backend/procesos/desarrollo">Desarrollo</a>
            </li>
            <li {% if url_last == 'mantenimiento' %}class="Selected"{% endif %}>
              <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/backend/procesos/mantenimiento">Mantenimiento</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>

    <li>
      <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/commercial">Paulonia Commercial</a>
      <ul>
        <li {% if url_last == 'commercial' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/commercial/">Introducción</a>
        </li>
      </ul>
    </li>

    <li>
      <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/contribute">Contribuir al Handbook</a>
      <ul>
        <li {% if url_last == 'contribute' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/contribute/">Contribuir</a>
        </li>
        <li {% if url_last == 'howToDocument' and url_area == 'contribute' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/contribute/howToDocument">Crear un Documento</a>
        </li>
        <li {% if url_last == 'parameters' and url_area == 'contribute' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/contribute/parameters">Parámetros de un documento</a>
        </li>
        <li {% if url_last == 'links' and url_area == 'contribute' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/contribute/links">Links en un documento</a>
        </li>
        <li {% if url_last == 'constants' and url_area == 'contribute' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/contribute/constants">Constantes de sitio</a>
        </li>
        <li {% if url_last == 'example' and url_area == 'contribute' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/contribute/example">Documento de ejemplo</a>
        </li>
      </ul>
    </li>

</nav>
